

<div class="row">
<br/>
<br/>
<%= link_to 'Load Question', "#", :id => 'quizload' %>
<<<<<<< HEAD
<%= hidden_field_tag :score, "0" %>
<div id="questions">

=======
<div id="questions">
>>>>>>> origin/master
hi
</div>
</div>